body {
  background-color: #5b1212;
  font-size: 30px;
  font-family: Arial, sans-serif;
  margin: 0;
  /* padding: 20px; */
}

button {
  font-size: 22px;
  background-color: #036564;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.fizz, .buzz, .number, .fizzbuzz {
    display: inline-block;
    margin: 10px 5px;
    border-radius: 4px;
    padding: 5px;
  }

.fizz {
  background-color: #052457;
  color: aliceblue;
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.buzz {
  background-color: #034365;
  color: aliceblue;
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.number {
  background-color: #0696ca;
  color: #031634;
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.fizzbuzz {
    background-color: #031634;
    color: aliceblue;
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
